
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
bip33
iceserver
session_key.dat
.idea
go_build_iceserver_go
vendor
cmd/signer

mobile
nanopb
playground/*.json
protos2
